* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    /*from google fonts*/
}
#btn{
    background-image: linear-gradient(to right, #e96443,#904e95); /*color chosen from uiGradient.com*/
    border: none;
    outline: none;
    padding: 10px 35px;
    color:white;
    font-size: 20px;
    border-radius: 40px;
}
#btn:hover{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    cursor: pointer;
}
/* ---------------------------------header parts start here--------------------------------- */

.navbar{
    background-color:#e96443;
    width:100%;
    overflow:auto;
    padding:20px;
    position: sticky;
}
.navbar i{
    float:left;
    margin:0px 10px;
    color: white;
    font-size: 30px;
    padding-left: 80px;
}

.navbar ul{
    display:flex;
    float:right;
    padding-right: 40px;
}
.navbar ul li{
    list-style-type:none;
    margin-right: 20px;
   
}
.navbar ul li a:hover{
    border-bottom: 1px solid white;
    transition: 0.6s all;
}
.navbar ul li a{
    text-decoration:none;
    transition: 1s all;
    color:white; /*ui color palette*/
}


.container{
    clear:both;
    display:flex;
    flex-wrap: wrap; 
    width:100%;
}


.left-div{
    width:40%;
    margin:150px 60px 40px;
    color:#2c3e50;
}
.left-div span{
    color:#e67e22;
}
.left-div h1{
    font-size: 60px;
}
.left-div p{
    font-size: 20px;
    width:400px;
}
.left-div h1,p{
    margin-bottom: 25px;
}


.right-div{
    width:40%;
    margin:30px 40px;
}
/*----------------------------- header parts end here ----------------------------------*/

/*---------------------------- about section start here ---------------------------------*/

.about{
    background-image: url(img/abt-bg.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
}
.l-d{
    width:30%;
    margin:115px 40px 0px 200px;
    
}
.l-d img{
    width:400px;
    
}


.r-d{
    width:50%;
    margin:200px 20px 10px 20px;
    padding:50px 0px 50px 100px;
}
.r-d h1{
    font-size: 80px;
    color:#2c3e50;
}
.r-d p{
    width:400px;
    font-size: 16px;
    color:#2c3e50;
    line-height: 25px;
}
.r-d p,h1{
    margin-bottom:30px;
}
/*--------------------------------- about section end here ---------------------------------*/

/*---------------------------------recipe section start here---------------------------------*/

.recip-head{
    text-align: center;
    color:#2c3e50;
    margin:60px 20px;
}
.recip-head h1{ 
    font-size: 60px;
}
.recip-head p{
    width:600px;
    margin: 0 auto;
}


.recip-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    margin-bottom: 80px;
}
#common{
    color:#2c3e50;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    padding:40px 20px;
    margin:0px 30px;
    border-radius: 15px;
} 
#common h2{
    width:200px;
    font-weight: bold;
}
#common img{
    margin-bottom: 40px;
    border-radius: 20px;    
}
#common p{
    width:300px;
}
#common h2,p{
    margin-bottom: 20px;
}

.card-1 img{
    width:300px;
}
.card-2 img{
    width:300px;
}
.card-3 img{
    width:300px;
}


.recip-footer{
    display: flex;
    justify-content:center;
    margin:100px 220px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
}
.common-footer{
        padding:40px 40px;
        color:#2c3e50;
        margin-right: 40px;
}
.common-footer span{
    color:#1abc9c;
    font-size: 40px;
    font-Weight:bold;
}

/*---------------------------------recipe section end here---------------------------------*/
/*---------------------------------order page start here---------------------------------*/
.order{
    display: flex;
    width:100%;
}
.l-order{
    width:50%;
    margin:40px 0px 10px 0px;
    position: relative;

}
.l-order h1{
    color:#2c3e50;
    text-align: center;  
}
.l-order form{
    width:280px;
    margin:0 auto;
    /* border:1px solid red; */
    padding:20px;
}
.l-order input{
    padding:10px 35px;
    margin-bottom: 50px;
}
.l-order span{
    z-index:1;
}
#icon-1{
    position:absolute;
    top:10%;
    left:31%   
}
#icon-2{
    position:absolute;
    top:20%;
    left:31%;
    padding-right: 10px;
}
#icon-3{
    position:absolute;
    top:29%;
    left:31%;
}
input{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border:none;
    border-right: 5px solid #e96443;
}
.signup{
    width:100%;
    text-align: center;
    margin-bottom: 40px;
}
.signup a{
    text-decoration: none;
}
.anchor{
    width:100%;
   justify-content: center;
    display: flex;
}
.anchor img{
    width:50px;
}
.anchor a{
    text-decoration: none;
    margin-top: 13px;
    color:#2c3e50;
}
.another-anchor{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.another-anchor p{
    padding-right: 15px;
}
.another-anchor a{
    text-decoration: none;
    color:#e96443;
    font-weight: bold;
}
.another-anchor a:hover{
    border-bottom: 2px solid #e96443;
}
















































.empty{
    height:800px;
}